
IF DB_ID('QLCuaHangDienThoai') IS NOT NULL
BEGIN
    ALTER DATABASE QLCuaHangDienThoai SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE QLCuaHangDienThoai;
END
GO

CREATE DATABASE QLCuaHangDienThoai;
GO

USE QLCuaHangDienThoai;
GO

IF OBJECT_ID('NguoiDung', 'U') IS NOT NULL DROP TABLE NguoiDung;
CREATE TABLE NguoiDung (
    id INT IDENTITY(1,1) PRIMARY KEY,
    username NVARCHAR(50) NOT NULL,
    password NVARCHAR(255) NOT NULL,
    email NVARCHAR(100),
    OTP NVARCHAR(50),
    OTPDateSend DATETIME,
    DateCreate DATETIME DEFAULT GETDATE(),
    Active BIT DEFAULT 1,
    DateActive DATETIME,
    levelID INT,
    HoTen NVARCHAR(100),
    SDT NVARCHAR(15),
    GioiTinh NVARCHAR(10),
    randomkey NVARCHAR(50)
);
GO

IF OBJECT_ID('NhanVien', 'U') IS NOT NULL DROP TABLE NhanVien;
CREATE TABLE NhanVien (
    MaNV INT IDENTITY(1,1) PRIMARY KEY,
    HoTen NVARCHAR(100) NOT NULL,
    GioiTinh NVARCHAR(10),
    NgaySinh DATE,
    DiaChi NVARCHAR(200),
    SDT NVARCHAR(15),
    Email NVARCHAR(100),
    ChucVu NVARCHAR(50),
    Luong DECIMAL(18,2),
    TrangThai BIT DEFAULT 1
);
GO

IF OBJECT_ID('NhaCungCap', 'U') IS NOT NULL DROP TABLE NhaCungCap;
CREATE TABLE NhaCungCap (
    MaNCC INT IDENTITY(1,1) PRIMARY KEY,
    TenNCC NVARCHAR(100) NOT NULL,
    DiaChi NVARCHAR(200),
    SDT NVARCHAR(15),
    Email NVARCHAR(100),
    MoTa NVARCHAR(255)
);
GO

IF OBJECT_ID('LoaiSanPham', 'U') IS NOT NULL DROP TABLE LoaiSanPham;
CREATE TABLE LoaiSanPham (
    MaLoai INT IDENTITY(1,1) PRIMARY KEY,
    TenLoai NVARCHAR(100) NOT NULL,
    MoTa NVARCHAR(255)
);
GO

IF OBJECT_ID('KhoHang', 'U') IS NOT NULL DROP TABLE KhoHang;
CREATE TABLE KhoHang (
    MaKho INT IDENTITY(1,1) PRIMARY KEY,
    TenKho NVARCHAR(100),
    DiaChi NVARCHAR(200),
    GhiChu NVARCHAR(255)
);
GO

IF OBJECT_ID('SanPham', 'U') IS NOT NULL DROP TABLE SanPham;
CREATE TABLE SanPham (
    MaSP INT IDENTITY(1,1) PRIMARY KEY,
    TenSP NVARCHAR(100) NOT NULL,
    MaLoai INT FOREIGN KEY REFERENCES LoaiSanPham(MaLoai),
    MaNCC INT FOREIGN KEY REFERENCES NhaCungCap(MaNCC),
    MaKho INT FOREIGN KEY REFERENCES KhoHang(MaKho),
    GiaNhap DECIMAL(18,2),
    GiaBan DECIMAL(18,2),
    SoLuong INT,
    MoTa NVARCHAR(255),
    NgayNhap DATETIME DEFAULT GETDATE(),
    TrangThai BIT DEFAULT 1
);
GO

IF OBJECT_ID('NhapHang', 'U') IS NOT NULL DROP TABLE NhapHang;
CREATE TABLE NhapHang (
    MaNhap INT IDENTITY(1,1) PRIMARY KEY,
    MaNCC INT FOREIGN KEY REFERENCES NhaCungCap(MaNCC),
    MaNV INT FOREIGN KEY REFERENCES NhanVien(MaNV),
    NgayNhap DATETIME DEFAULT GETDATE(),
    TongTien DECIMAL(18,2)
);
GO

IF OBJECT_ID('ChiTietNhapHang', 'U') IS NOT NULL DROP TABLE ChiTietNhapHang;
CREATE TABLE ChiTietNhapHang (
    MaCTN INT IDENTITY(1,1) PRIMARY KEY,
    MaNhap INT FOREIGN KEY REFERENCES NhapHang(MaNhap),
    MaSP INT FOREIGN KEY REFERENCES SanPham(MaSP),
    SoLuong INT,
    DonGia DECIMAL(18,2),
    ThanhTien AS (SoLuong * DonGia)
);
GO

IF OBJECT_ID('DonHang', 'U') IS NOT NULL DROP TABLE DonHang;
CREATE TABLE DonHang (
    MaDH INT IDENTITY(1,1) PRIMARY KEY,
    NgayLap DATETIME DEFAULT GETDATE(),
    MaNV INT FOREIGN KEY REFERENCES NhanVien(MaNV),
    TenKhach NVARCHAR(100),
    SDT NVARCHAR(15),
    DiaChi NVARCHAR(200),
    TongTien DECIMAL(18,2),
    TrangThai NVARCHAR(50)
);
GO

IF OBJECT_ID('ChiTietDonHang', 'U') IS NOT NULL DROP TABLE ChiTietDonHang;
CREATE TABLE ChiTietDonHang (
    MaCTDH INT IDENTITY(1,1) PRIMARY KEY,
    MaDH INT FOREIGN KEY REFERENCES DonHang(MaDH),
    MaSP INT FOREIGN KEY REFERENCES SanPham(MaSP),
    SoLuong INT,
    DonGia DECIMAL(18,2),
    ThanhTien AS (SoLuong * DonGia)
);
GO

IF OBJECT_ID('XuatHoaDon', 'U') IS NOT NULL DROP TABLE XuatHoaDon;
CREATE TABLE XuatHoaDon (
    MaHD INT IDENTITY(1,1) PRIMARY KEY,
    MaDH INT FOREIGN KEY REFERENCES DonHang(MaDH),
    NgayXuat DATETIME DEFAULT GETDATE(),
    TongTien DECIMAL(18,2),
    GhiChu NVARCHAR(255)
);
GO

IF OBJECT_ID('ThongKe', 'U') IS NOT NULL DROP TABLE ThongKe;
CREATE TABLE ThongKe (
    MaTK INT IDENTITY(1,1) PRIMARY KEY,
    NgayBatDau DATE,
    NgayKetThuc DATE,
    TongDoanhThu DECIMAL(18,2),
    TongNhap DECIMAL(18,2),
    LoiNhuan AS (TongDoanhThu - TongNhap)
);
GO

INSERT INTO NhaCungCap (TenNCC, DiaChi, SDT, Email, MoTa)
VALUES
(N'Apple Việt Nam', N'Quận 1, TP.HCM', '0909000001', 'applevn@gmail.com', N'Cung cấp sản phẩm Apple'),
(N'Samsung Việt Nam', N'Bắc Ninh', '0909000002', 'samsungvn@gmail.com', N'Smartphone và thiết bị điện tử'),
(N'Oppo Việt Nam', N'Quận 10, TP.HCM', '0909000003', 'oppo@gmail.com', N'Sản xuất điện thoại tầm trung'),
(N'Xiaomi Việt Nam', N'Đống Đa, Hà Nội', '0909000004', 'xiaomi@gmail.com', N'Điện thoại và phụ kiện giá rẻ'),
(N'Anker Việt Nam', N'TP. Thủ Đức', '0909000005', 'anker@gmail.com', N'Phụ kiện sạc, tai nghe');
GO

INSERT INTO LoaiSanPham (TenLoai, MoTa)
VALUES
(N'Điện thoại', N'Smartphone các hãng'),
(N'Phụ kiện', N'Sạc, tai nghe, ốp lưng'),
(N'Máy tính bảng', N'Tablet Android/iPad'),
(N'Đồng hồ thông minh', N'Smartwatch'),
(N'Laptop', N'Máy tính xách tay');
GO

INSERT INTO KhoHang (TenKho, DiaChi, GhiChu)
VALUES
(N'Kho Chính', N'123 Nguyễn Văn Cừ, TP.HCM', N'Kho tổng hợp hàng chính'),
(N'Kho Dự Trữ', N'Quận 9, TP.HCM', N'Dự phòng'),
(N'Kho Online', N'Quận Bình Thạnh, TP.HCM', N'Hàng bán online');
GO

INSERT INTO NhanVien (HoTen, GioiTinh, NgaySinh, DiaChi, SDT, Email, ChucVu, Luong)
VALUES
(N'Nguyễn Văn A', N'Nam', '1998-05-10', N'Q1, TP.HCM', '0901111111', 'vana@gmail.com', N'Quản lý', 15000000),
(N'Trần Thị B', N'Nữ', '2000-07-20', N'Q3, TP.HCM', '0902222222', 'thib@gmail.com', N'Bán hàng', 10000000),
(N'Lê Văn C', N'Nam', '1997-12-01', N'Q5, TP.HCM', '0903333333', 'levanc@gmail.com', N'Kho hàng', 12000000),
(N'Phạm Thị D', N'Nữ', '2002-02-14', N'Q10, TP.HCM', '0904444444', 'phamd@gmail.com', N'Thu ngân', 9000000);
GO


INSERT INTO NhapHang (MaNCC, MaNV, NgayNhap, TongTien)
VALUES
(1, 3, '2024-05-01', 750000000),
(2, 3, '2024-05-10', 560000000),
(3, 3, '2024-05-15', 270000000);
GO

INSERT INTO ChiTietNhapHang (MaNhap, MaSP, SoLuong, DonGia)
VALUES
(1, 1, 10, 25000000),
(1, 7, 5, 15000000),
(2, 2, 10, 23000000),
(2, 6, 5, 11000000),
(3, 3, 20, 9000000),
(3, 5, 30, 700000);
GO

INSERT INTO DonHang (NgayLap, MaNV, TenKhach, SDT, DiaChi, TongTien, TrangThai)
VALUES
('2024-05-20', 2, N'Lý Minh Tuấn', '0905551111', N'Q7, TP.HCM', 60000000, N'Hoàn thành'),
('2024-05-21', 2, N'Nguyễn Hoàng Lan', '0906662222', N'Q5, TP.HCM', 15490000, N'Hoàn thành'),
('2024-05-23', 4, N'Lâm Nhật Phong', '0907773333', N'Q1, TP.HCM', 28000000, N'Đang giao');
GO

INSERT INTO ChiTietDonHang (MaDH, MaSP, SoLuong, DonGia)
VALUES
(1, 1, 2, 30000000),
(2, 5, 1, 990000),
(2, 6, 1, 14500000),
(3, 2, 1, 28000000);
GO

INSERT INTO XuatHoaDon (MaDH, NgayXuat, TongTien, GhiChu)
VALUES
(1, '2024-05-20', 60000000, N'Thanh toán tiền mặt'),
(2, '2024-05-21', 15490000, N'Thanh toán qua thẻ'),
(3, '2024-05-23', 28000000, N'Chưa thanh toán');
GO

INSERT INTO ThongKe (NgayBatDau, NgayKetThuc, TongDoanhThu, TongNhap)
VALUES
('2024-05-01', '2024-05-31', 103490000, 1580000000),
('2024-06-01', '2024-06-30', 125000000, 860000000);
GO